USE [FullCrud]
GO
/****** Object:  Table [dbo].[DistrictMaster]    Script Date: 29-07-2025 23:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DistrictMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[stateId] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateMaster]    Script Date: 29-07-2025 23:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 29-07-2025 23:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
	[dob] [date] NULL,
	[gender] [varchar](2) NULL,
	[state] [varchar](50) NULL,
	[district] [varchar](50) NULL,
	[hoby] [varchar](50) NULL,
	[photoPath] [varchar](250) NULL,
	[filePath] [varchar](50) NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[test]    Script Date: 29-07-2025 23:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[test](
	[id] [int] IDENTITY(9999,1) NOT NULL,
	[name] [varchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DistrictMaster] ON 

INSERT [dbo].[DistrictMaster] ([id], [name], [stateId]) VALUES (1, N'Bhopal', 1)
INSERT [dbo].[DistrictMaster] ([id], [name], [stateId]) VALUES (2, N'Indore', 1)
INSERT [dbo].[DistrictMaster] ([id], [name], [stateId]) VALUES (3, N'Chennai', 2)
SET IDENTITY_INSERT [dbo].[DistrictMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[StateMaster] ON 

INSERT [dbo].[StateMaster] ([id], [name]) VALUES (1, N'Madhya Pradesh')
INSERT [dbo].[StateMaster] ([id], [name]) VALUES (2, N'Andhra Pradesh')
INSERT [dbo].[StateMaster] ([id], [name]) VALUES (3, N'Maharashtra')
SET IDENTITY_INSERT [dbo].[StateMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([id], [name], [dob], [gender], [state], [district], [hoby], [photoPath], [filePath], [isActive]) VALUES (10, N'test ', CAST(N'2025-07-11' AS Date), N'M', N'2', N'3', N'Cricket,Movie', N'Uploads\548bc3fe-7a12-4194-bd48-63d38bab6fc6.png', N'Uploads\d93755c5-af1d-4f25-adc2-4d94c7c3f088.pdf', 1)
INSERT [dbo].[Student] ([id], [name], [dob], [gender], [state], [district], [hoby], [photoPath], [filePath], [isActive]) VALUES (11, N'hari', CAST(N'2025-07-01' AS Date), N'M', N'2', N'3', N'Cricket', N'Uploads\2d063a78-19e2-4787-9825-7d26548a728a.jpg', N'Uploads\6699e3d3-6e6e-42c5-94b6-011ba3813be6.pdf', 1)
INSERT [dbo].[Student] ([id], [name], [dob], [gender], [state], [district], [hoby], [photoPath], [filePath], [isActive]) VALUES (12, N'hari', CAST(N'2025-07-01' AS Date), N'M', NULL, NULL, N'Cricket', N'Uploads\2abe8cda-1797-4e70-806c-e9802b58f445.jpg', N'', 1)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[test] ON 

INSERT [dbo].[test] ([id], [name]) VALUES (9999, N'hari')
INSERT [dbo].[test] ([id], [name]) VALUES (10000, N'vishnu')
SET IDENTITY_INSERT [dbo].[test] OFF
GO
/****** Object:  StoredProcedure [dbo].[bindDtls]    Script Date: 29-07-2025 23:07:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[bindDtls]
@flag varchar(50),
@param varchar(50)=null
as
begin
if(@flag='state')
begin
select id,name from stateMaster
end
else if(@flag='district')
begin
select id,name from districtMaster where stateId=@param
end
else  --default case
begin
select id,name from stateMaster where 1<>1
end
end

GO
/****** Object:  StoredProcedure [dbo].[deleteStudent]    Script Date: 29-07-2025 23:07:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deleteStudent]
@id int=null
as 
begin 

delete from Student where @id is null or id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[editStudent]    Script Date: 29-07-2025 23:07:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[editStudent]
@id int,
@name varchar(50),
@dob date,
@gender varchar(2),
@state varchar(50),
@district varchar(50),
@hoby varchar(50), 
@photoPath varchar(250), 
@filePath varchar(50),
@isActive bit
as 
begin 

update Student set name=@name ,dob=@dob  ,gender=@gender,
state =@state,district=@district ,hoby=@hoby , photoPath=@photoPath , filePath=@filePath
,isActive=@isActive where id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[getStudent]    Script Date: 29-07-2025 23:07:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getStudent]
@id int=null
as 
begin 

select * from Student where @id is null or id=@id
end
GO
/****** Object:  StoredProcedure [dbo].[insertStudent]    Script Date: 29-07-2025 23:07:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[insertStudent]
@name varchar(50),
@dob date,
@gender varchar(2),
@state varchar(50),
@district varchar(50),
@hoby varchar(50), 
@photoPath varchar(250), 
@filePath varchar(50),
@isActive bit
as 
begin 

insert into Student(name ,dob ,gender,
state ,district ,hoby , photoPath , filePath ,isActive )
values(@name ,@dob ,@gender,
@state ,@district ,@hoby , @photoPath , @filePath ,@isActive)
end
GO
