@model ASPCoreMVCEntityCore.models.StudentDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dob" class="control-label"></label>
                <input asp-for="Dob" type="date" class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <label> <input type="radio" asp-for="Gender" value="M" class="form-check" /> Male</label>
                <label> <input type="radio" asp-for="Gender" value="F" class="form-check" /> Female</label>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <select asp-for="State">
                    <option value="">--Select--</option>
                </select>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <select asp-for="District">
                    <option value="">--Select--</option>
                </select>

                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hoby" class="control-label"></label>
                <label><input type="checkbox" name="Hoby" class="form-check" value="Cricket" @(string.Join(",", Model.Hoby) .Contains("Cricket") ? "Checked" : "") />Cricket</label>
                <label><input type="checkbox" name="Hoby" class="form-check" value="Movie" @(string.Join(",", Model.Hoby).Contains("Movie") ? "Checked" : "") />Movie</label>
                <label><input type="checkbox" name="Hoby" class="form-check" value="Coding" @(string.Join(",", Model.Hoby).Contains("Coding") ? "Checked" : "") />Coding</label>
                <span asp-validation-for="Hoby" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input name="PhotoPath" type="file" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilePath" class="control-label"></label>
                <input name="FilePath" type="file" class="form-control" />
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsActive" class="control-label"> <input type="checkbox" asp-for="IsActive" class="form-check" /></label>

                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function(){
            BindDtls('State',0,$('#State'))
            $('#State').change(function(){
                var s=$('#State').val();
                BindDtls('District',s,$('#District'))
            })
        })
        function BindDtls(flag,param,comp){
            $.ajax({
                    url:'/Students/BindAjax',
                        data: {
            flag: flag,
            param: param
        },
                    dataType:'json',
                    type:'get',
                    success:function(data){
                        comp.empty();
                       comp.append($('<option>').val('').text('--Select--'));
                       data.forEach(i=>{
                           comp.append($('<option>').val(i.id).text(i.name));
                       });
                    }
                })
        }
    </script>
}
